:root {
  --c-yellow: #da9c23;
  --c-yellow-Dark: #cb600b;
  --c-red: #bb1623;
  --c-red-Dark: #6a0c0b;

  --box-text: #373741;
  --disabled-text: #8c8c8c;
}

@font-face {
  font-family: rukia;
  src: url(../typography/Rubik-Regular.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: rukia;
  font-size: 62.5%;
}

/* Reset */

.container {
  max-width: 120rem;

  margin-right: auto;
  margin-left: auto;

  padding-right: 1rem;
  padding-left: 1rem;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-direction-reverse-row {
  flex-direction: row-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-reverse-column {
  flex-direction: column-reverse;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-5 {
  gap: 5rem;
}

.gap-10 {
  gap: 10rem;
}

.text-center {
  text-align: center;
}

.c-white {
  color: #f3f3f3;
}

.c-yellow-dark {
  color: var(--c-yellow-Dark);
}

.w-100 {
  width: 100%;
}

.pT-2 {
  padding-top: 2rem;
}

.pT-5 {
  padding-top: 5rem;
}

.pB-3 {
  padding-bottom: 3rem;
}

.pL-4 {
  padding-left: 4rem;
}

.pY-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pY-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pY-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pY-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pY-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.pY-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.pX-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.pX-3 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.pX-5 {
  padding-right: 5rem;
  padding-left: 5rem;
}

.pX-6 {
  padding-right: 6rem;
  padding-left: 6rem;
}

.pX-8 {
  padding-right: 8rem;
  padding-left: 8rem;
}

.mY-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mT-1 {
  margin-top: 1rem;
}

.mT-2 {
  margin-top: 2rem;
}

.mT-auto {
  margin-top: auto;
}

.text-decoration-none {
  text-decoration: none;
}
/* utilities */

.btn {
  display: inline-block;

  border: none;

  background: none;

  cursor: pointer;
}

.btn--submit {
  font-size: 1.8rem;

  padding: 1.2rem 1rem;
}

.btn--yellow {
  background: linear-gradient(to right, #da9c23 10%, #bb1623);
  color: #f3f3f3;

  border-radius: 2rem;
}

.box {
  position: relative;
  z-index: 10;
}

.box::after {
  --position: 0;

  content: '';

  position: absolute;
  top: var(--position);
  left: var(--position);
  right: var(--position);
  bottom: var(--position);

  inset: 0;
  border-radius: 2rem;
  padding: 0.3rem;
  background: linear-gradient(to bottom left, #da9c23, #bb1623);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.box__content {
  background: transparent;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);

  border-radius: 1rem; /*1*/
}

.box__content--trending {
  position: relative;
  height: 100%;
}

.box__content--trending footer {
  position: absolute;
  right: -0.5rem;
  left: -0.5rem;
  bottom: -0.5rem;

  padding: 3rem;
}
/* components */

.line {
  background: url(../images/Fondo.png) no-repeat center center / cover;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 100vh;
  width: 100%;
}

@media (max-width: 50rem) {
  .form__box--1 {
    display: none;
  }
}

.form__logo {
  width: 100%;
  max-width: 30rem;
}

.form__box {
  flex: 1;

  max-width: 43rem;
  margin-right: auto;
  margin-left: auto;

  padding: 0.5rem;

  z-index: 10;
}

.form__content p {
  font-size: 1.4rem;
}

.form__input {
  display: block;

  font-size: 1.7rem;

  background: var(--box-text);
  color: #f3f3f3;

  padding: 1rem 0.9rem;

  border-radius: 1rem;
  border: none;
}

.form__checkbox {
  accent-color: var(--c-yellow);
}

.form__input:focus {
  outline: none;
}

/* layout */
.layout {
  height: 100vh;
}

/* navbar */
.navbar {
  align-self: stretch;

  flex-basis: 18%;

  background: black;

  border: 5px solid;
  border-left: 0;
  border-image: linear-gradient(#da9c23, #da9c23) 1 100%;
}

.navbar__box {
  height: 100%;
}

.navbar__link {
  display: inline-block;

  font-size: 1.5rem;

  width: 100%;

  padding: 1.5rem 3rem;

  color: var(--disabled-text);
  border-left: 3px solid transparent;

  text-decoration: none;
}

.navbar__link.active, .navbar__link:hover {
  border-color: var(--c-yellow-Dark);

  background-color: #ffffff21;

  color: #f3f3f3;
}

/* content */
.content {
  flex: 1;

  padding: 0 2rem;

  background-color: black;
}

.content h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.dashboard__box {
  height: 25rem;
  padding: 0.5rem;
}
